<!-- Wakatime ( Replace with your own wakatime embed config at https://wakatime.com )-->

<!-- Languages  -->
<!-- <div class="github-card" data-github="DanySK" data-theme="medium"></div>
<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script> -->

<script src="https://profile.codersrank.io/widget/widget.js"></script>
<codersrank-widget username="danysk"></codersrank-widget>


<!-- <figure><embed src="https://wakatime.com/share/@DanySK/8ef10d63-7b67-4a80-b705-aefa844303f8.svg"></embed></figure>

<figure>
    <embed src="https://wakatime.com/share/@sujaykundu777/5fcfa63e-9357-44d1-9a49-5244504a1f13.svg"></embed>
</figure> -->