<div class="card" id="profile-card">
    <a href="{{ site.baseurl }}/">
      <img src="https://www.gravatar.com/avatar/{{ site.author_email_md5 }}?s=500" class="profile-img" />
    </a>
    <h1 class="profile-name">{{ site.title }}</h1>
    <p class="profile-bio">{{ site.subtitle }}</p>
    {% comment %}
    {% endcomment %}

    {% if site.author_location %}
    <h6><i class="fas fa-map-marker-alt"></i> {{ site.author_location }}</h6>
    {% endif %}
    {% if site.author_email %}
    <h6><i class="fas fa-envelope"></i> {{ site.author_email }}</h6>
    {% endif %}
    {% if site.author_website_url %}
    <h6><i class="fas fa-link"></i> {{ site.author_website_url }}</h6>
    {% endif %}
    {% if site.author_website_url %}
    <h6><i class="ai ai-cv"></i> <a href="{{ site.author_cv }}">Curriculum Vitae</h6></a>
    {% endif %}
    {% if site.github_username %} {%- include github_follow_button.html -%} {% endif %}
  </div>
